/* ADD ICONS SOCIAL ANIMATION */

.sm a{
    display: inline-block;
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #ff;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
  }

  .sm a::before, .sm a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
  }

  .sm a:hover{
    transform: scale(.8);
  }

  .sm a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
  }

  .sm a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
  }

  /* FINE ICONE SOCIAL ANIMATION */

  body {
    background-color: #3498db;
    }

  .bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
    }

    .bubbles h1 {
    position: relative;
    margin: 1em 0 0;
    font-family: 'Mukta Vaani', cursive;
    color: #fff;
    z-index: 2;
    }

    .individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: rgb(220, 223, 228);
    z-index: 1;
    }
