.masthead {
    height: 60vh;
    /* min-height: 500px; */
    background-image: url('https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


.ads {

    width: 370px;
    height: 300px;
    background-color: #fff;



  }

.desiderio {



}



:root{
    --main-color:  #60E2E6;
    --second-color: #5CC2F2;
    --color-accent:#9800FF;
    --color-plus: #B64EFD;
}


.text-main{
    color: var(--main-color);
}

.text-second{
    color: var(--second-color);
}

.text-accent{
    color: var(--color-accent) !important;
}
.text-plus{
    color: var(--color);
}
