.masthead {
    height: 60vh;
    /* min-height: 500px; */
    background-image: url('https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


.ads {

    width: 385px;
    height: 245px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid black;



  }

// BOTTONE NAVBAR


.circleScaleBtn {
    padding: 12px 24px;
    background-color: rgba(96, 226, 230, 0.3);
    color: #122b2c;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

.circleScaleBtn span {
    z-index: 1;
    position: relative;
}

.circleScaleBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
    background-color:rgba(96, 226, 230, 0.6);
    opacity: 0;
}

.circleScaleBtn:hover span {
    color: hsl(222, 100%, 95%);
}

.circleScaleBtn:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}




:root{
    --main-color:  #60E2E6;
    --second-color: #3490DD;
    --color-accent:#9800FF;
    --color-plus: #B64EFD;
}


.text-main{
    color: var(--main-color);
}

.text-second{
    color: var(--second-color);
}

.text-accent{
    color: var(--color-accent) !important;
}
.text-plus{
    color: var(--color-plus);
}
