.masthead {
    height: 60vh;
    /* min-height: 500px; */
    background-image: url('https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


.ads {

    width: 385px;
    height: 245px;
    background-color: #fff;



  }

// BOTTONE NAVBAR


.arrowFromLeft {
    overflow: hidden;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: hsl(222, 100%, 95%);
    color: hsl(243, 80%, 62%);
    position: relative;
}

.arrowFromLeft div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowFromLeft:hover span {
    transform: translateX(15px);
}

.arrowFromLeft:hover svg {
    opacity: 1;
    transform: translate(15px, -50%);
}

.arrowFromLeft span {
    display: inline-block;
    transition: transform .3s cubic-bezier(.455,.03,.515,.955);
}

.arrowFromLeft svg {
    position: absolute;
    top: 50%;
    left: 10px;
    fill: hsl(243, 80%, 62%);
    opacity: 0;
    transform: translate(-10px, -50%);
    transition: opacity .3s .05s cubic-bezier(.455,.03,.515,.955), transform .3s .05s cubic-bezier(.455,.03,.515,.955);
}




:root{
    --main-color:  #60E2E6;
    --second-color: #3490DD;
    --color-accent:#9800FF;
    --color-plus: #B64EFD;
}


.text-main{
    color: var(--main-color);
}

.text-second{
    color: var(--second-color);
}

.text-accent{
    color: var(--color-accent) !important;
}
.text-plus{
    color: var(--color-plus);
}
