.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('img/alyssa-strohmann-TS--uNw-JqE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
